<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">M-152: Jeffrey Blanco</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="movie">Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="script">Drehbuch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="livestream">Livestream</a>
          </li>
        </ul>

    </div>
  </nav>
