<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">M-152: Jeffrey Blanco</a>
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="metas">Meta-Daten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
              >Videos</a
            >
          </li>
        </ul>
  
    </div>
  </nav>