.title {
    display: flex;
    justify-content: center;
}


.multiline-tooltip{
    white-space: pre-line;
  }

.body {
    display: flex;
    justify-content: center;

}

img {
    margin-bottom: 5%;
}

button {
    margin-bottom: 5%;
}
