<div class="container">
    <div class="body row">
        <div class="col">
            <h2>Vorher:</h2>
            <button mat-raised-button
                matTooltip="Shutter Speed: 1/60 | Iso: 100 | Blende: 5.6"
                (click)="download('Bild_1-Original_Version')">
                META
            </button>
            <img src="../../../../assets/pictures/Bild 1/Vorher.jpg" class="img-fluid">
        </div>
        <div class="col">
            <h2>Nachher:</h2>
            <button mat-raised-button
                matTooltip="Download der Meta des bearbeiteten Bildes"
                (click)="download('Bild_1-Edited_Version')">
                META
            </button>
            <img src="../../../../assets/pictures/Bild 1/Nachher.jpg" class="img-fluid">
         </div>
    </div>
    <div class="footer row">
        <div class="col">
        <p>Auf dem Bild zu erkennen ist ein Abfalleimer im Vordergrund einer Spiraltreppe. Ein auffallender Unterschied zwischen den Bildern ist die Abwschwächung des Lichtes, welche im nachherigen Bild stark zu erkennen ist. Im Fokus liegt der Abfalleimer mit dem Gelände, an welchem er fest gemacht wurde. Im Grossen und Ganzen gibt das bearbeitete Bild eine etwas düstere Stimmung aus als das Originale.</p>
        </div>
    </div>
    <div class="body row">
        <div class="col">
            <h2>Vorher:</h2>
            <button mat-raised-button
            matTooltip="Verschlusszeit: 1/160 | Iso: 100 | Blende: 5.6"
                (click)="download('Bild_2-Original_Version')">
                META
            </button>
            <img src="../../../../assets/pictures/Bild 2/Vorher.jpg" class="img-fluid">
        </div>
        <div class="col">
            <h2>Nachher:</h2>
            <button mat-raised-button
            matTooltip="Download der Meta des bearbeiteten Bildes"
                (click)="download('Bild_2-Edited_Version')">
                META
            </button>
            <img src="../../../../assets/pictures/Bild 2/Nachher.jpg" class="img-fluid">
        </div>
    </div>
    <div class="footer row">
        <div class="col">
        <p>Hier sieht man einen grossen Stein, welcher fast schon als ein kleiner Findling durchgehen könnte. Nicht weit davon entfernt ist ein Hydrant, der zusammen mit dem Findling gar schon in das Auge sticht. Aufallend ist die abgeschwächte Belichtung auf dem bearbeiteten Bild vereglichen zu dem Original. Im Hintergrund ist der Himmel viel klarer, als im Original. Die bearbeitete Version scheint etwas wärmer und könnte gar eine frühe Sommer Nacht darstellen.</p>
        </div>
    </div>
    <div class="body row">
        <div class="col">
            <h2>Vorher:</h2>
            <button mat-raised-button
            matTooltip="Verschlusszeit: 1/150 | Iso: 100 | Blende: 5.6"
                (click)="download('Bild_3-Original_Version')">
                META
            </button>
            <img src="../../../../assets/pictures/Bild 3/Vorher.jpg" class="img-fluid">
        </div>
        <div class="col">
            <h2>Nachher:</h2>
            <button mat-raised-button
                matTooltip="Download der Meta des bearbeiteten Bildes"
                (click)="download('Bild_3-Edited_Version')">
                META
            </button>
            <img src="../../../../assets/pictures/Bild 3/Nachher.jpg" class="img-fluid">
        </div>
    </div>
    <div class="footer row">
        <div class="col">
        <p>Klar im Vordergrund ist der Leitpfosten welcher Ebenenweise auf der gleichen Höhe mit dem Hydrant zu sein scheint. Sofort auffallend ist die starkeee Abschwachung des Lichts auf der bearbeiten Version im Vergleich zur Originalen. Beispielsweise sind die Äste des Baumes im Hintergrund auf dem Original kaum zu erkennen, was auf der bearbeiteten Version kein Problem darstellt. Die bearbeitete Version erscheint Wärmer als das Original.</p>
        </div>
    </div>
</div>

